@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

//头部部分
header {
    background: white;
    display: flex;
    ul {
        display: flex;
        width: 3.75rem;
        height: 0.51rem;
        li {
            margin-top: 0.08rem;
            margin-left: 0.09rem;
            img {
                width: 1.07rem;
                height: 0.36rem;
            }
            p {
                font-size: 0.11rem;
            }
        }
        li:nth-child(2) {
            margin-left: 0.235rem;
            line-height: 0.45rem;
            span {
                font-size: 0.18rem;
                color: #000;
            }
        }
        li:nth-child(3) {
            margin-left: 0.84rem;
            text-align: center;
        }
        li:nth-child(4) {
            margin-left: 0.150rem;
            text-align: center;
        }
    }
    .icon-user {
        font-size: 0.165rem;
        color: #999999;
    }
    .icon-nav {
        font-size: 0.165rem;
        color: #999999;
    }
}

.dj {
    width: 3.75rem;
    height: 0.5rem;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    ul {
        display: flex;
        height: 0.5rem;
        li {
            line-height: 0.5rem;
            width: 0.965rem;
            background: white;
            text-align: center;
            span {
                font-size: 0.18rem;
                margin-left: 0.115rem;
                color: #000;
            }
            i {
                width: 0.125rem;
                height: 0.075rem;
                color: #999;
            }
        }
        li:nth-child(4) {
            i {
                font-size: 0.20rem;
                color: #2BB381;
            }
        }
    }
}

.ner {
    width: 3.75rem;
    border-top: 1px solid darkgray;
    background: #F4F4F4;
    ul {
        display: flex;
        li {
            margin-top: 0.06rem;
            margin-left: 0.06rem;
            width: 1.75rem;
            height: 1.795rem;
            background: white;
            text-align: center;
            border: 1px solid #EFEFEF;
            img {
                width: 1.75rem;
                height: 1.175rem;
            }
            span:nth-child(2) {
                font-size: 0.18rem;
                color: #000;
                text-align: center;
            }
            span:nth-child(3) {
                font-size: 0.1rem;
                color: #999;
            }
        }
    }
}

.djan {
    width: 3.75rem;
    height: 0.41rem;
    span:nth-child(1) {}
}

.fany {
    width: 3.55rem;
    margin-top: 0.18rem;
    ul {
        width: 100%;
        height: 0.41rem;
        line-height: 0.41rem;
        text-align: center;
        margin-left: 0.1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.18rem;
        li {
            width: 33%;
            background-color: #39C894;
            color: white;
        }
    }
    ul li:nth-child(2) {
        background-color: white;
        color: #000000;
    }
}

.x1 {
    width: 100%;
    height: 0.09rem;
    background: #F4F4F4;
    margin-top: 0.18rem;
    margin-bottom: 0.15rem;
}

.wenban {
    width: 3.75rem;
    ul {
        margin-top: 0.18rem;
        margin-bottom: 0.18rem;
        li {
            margin-left: 0.11rem;
            margin-right: 0.11rem;
            span {
                font-size: 0.14rem;
                color: #333;
            }
        }
    }
}

.bq {
    div {
        width: 100%;
        text-align: center;
        span {
            width: 100%;
            text-align: center;
            font-size: 0.14rem;
            text-indent: 2rem; //首行缩进
        }
        a {
            font-size: 0.015rem;
            color: #38C993;
        }
    }
    ul {
        width: 100%;
        margin-top: 0.1rem;
        display: flex;
        justify-content: space-around;
        li {
            font-size: 0.14rem;
        }
        li:nth-child(1) {
            color: #38C993;
        }
    }
}

footer {
    width: 100%;
    height: 0.53rem;
    background: #000;
    display: flex;
    div:nth-child(1) {
        img {
            width: 0.20rem;
        }
    }
    div:nth-child(2) {
        margin-top: 0.050rem;
        margin-left: 0.050rem;
        img {
            width: 2.105rem;
            height: 0.445rem;
        }
    }
    div:nth-child(3) {
        button {
            width: 0.90rem;
            height: 0.30rem;
            border-radius: 50px;
            background: #FEB605;
            font-size: 0.02rem;
            border: 1px solid #FEB605;
            color: white;
            margin-left: 0.2rem;
            margin-top: 0.10rem;
        }
    }
}

.ddb {
    width: 0.47rem;
    height: 0.47rem;
    border: 1px solid #9c9c9c;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    left: 3.15rem;
    top: 85%;
    background: white;
    z-index: 2000;
    a {
        text-align: center;
        width: 0.2rem;
        color: #9c9c9c;
        line-height: 0.47rem;
    }
}