@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

body,
html {
  background-image: url(../img/内网通截图20171018213521.png);
  width: 100%;
  height: 100%;
  background-size: 100% 100%; }

header {
  background: white;
  display: flex; }
  header ul {
    display: flex;
    width: 3.75rem;
    height: 0.51rem; }
    header ul li {
      margin-top: 0.08rem;
      margin-left: 0.09rem; }
      header ul li img {
        width: 1.07rem;
        height: 0.36rem; }
      header ul li p {
        font-size: 0.11rem; }
    header ul li:nth-child(2) {
      margin-left: 0.235rem;
      line-height: 0.45rem; }
      header ul li:nth-child(2) span {
        font-size: 0.18rem;
        color: #000; }
    header ul li:nth-child(3) {
      margin-left: 0.84rem;
      text-align: center; }
    header ul li:nth-child(4) {
      margin-left: 0.150rem;
      text-align: center; }
  header .icon-user {
    font-size: 0.165rem;
    color: #999999; }
  header .icon-nav {
    font-size: 0.165rem;
    color: #999999; }

.dj {
  width: 3.75rem;
  height: 0.5rem;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF; }
  .dj ul {
    display: flex;
    height: 0.5rem; }
    .dj ul li {
      line-height: 0.5rem;
      width: 0.965rem;
      background: white;
      text-align: center; }
      .dj ul li span {
        font-size: 0.18rem;
        margin-left: 0.115rem;
        color: #000; }
      .dj ul li i {
        width: 0.125rem;
        height: 0.075rem;
        color: #999; }
    .dj ul li:nth-child(4) i {
      font-size: 0.20rem;
      color: #2BB381; }

.nr {
  width: 3.75rem;
  height: 2.925rem;
  background: #F4F4F4; }

.bv {
  width: 3.75rem;
  height: 0.35rem;
  background: #2BB381;
  color: white;
  text-align: center;
  line-height: 0.38rem;
  font-size: 0.18rem; }

.tbbj {
  width: 3.75rem;
  height: 2.35rem;
  background-color: rgba(0, 0, 0, 0.75); }

.nr {
  width: 3.75rem; }
  .nr ul:nth-child(1) span {
    font-size: 0.14rem;
    color: #000;
    margin-left: 0.10rem; }
  .nr ul:nth-child(1) li:nth-child(2) button:nth-child(1) {
    margin-top: 0.15rem;
    margin-left: 0.08rem;
    width: 1.16rem;
    height: 0.29rem;
    font-size: 0.14rem;
    color: #999;
    background: white;
    border: 1px solid #2BB381;
    color: #2BB381; }
  .nr ul:nth-child(1) li:nth-child(2) button {
    margin-top: 0.15rem;
    margin-left: 0.03rem;
    width: 1.16rem;
    height: 0.29rem;
    background: white;
    font-size: 0.14rem;
    border: 1px solid #EEEEEE;
    color: #999; }
  .nr ul:nth-child(1) li:nth-child(3) button {
    margin-top: 0.15rem;
    margin-left: 0.08rem;
    width: 1.16rem;
    height: 0.29rem;
    background: white;
    font-size: 0.14rem;
    border: 1px solid #EEEEEE;
    color: #999; }
  .nr ul:nth-child(2) {
    margin-top: 0.14rem; }
    .nr ul:nth-child(2) span {
      font-size: 0.14rem;
      color: #000;
      margin-left: 0.10rem; }
    .nr ul:nth-child(2) li:nth-child(2) button:nth-child(1) {
      margin-top: 0.15rem;
      margin-left: 0.08rem;
      width: 1.16rem;
      height: 0.29rem;
      font-size: 0.14rem;
      color: #999;
      background: white;
      border: 1px solid #2BB381;
      color: #2BB381; }
    .nr ul:nth-child(2) li:nth-child(2) button {
      margin-top: 0.15rem;
      margin-left: 0.03rem;
      width: 1.16rem;
      height: 0.29rem;
      background: white;
      font-size: 0.14rem;
      border: 1px solid #EEEEEE;
      color: #999; }
    .nr ul:nth-child(2) li:nth-child(3) button {
      margin-top: 0.15rem;
      margin-left: 0.08rem;
      width: 1.16rem;
      height: 0.29rem;
      background: white;
      font-size: 0.14rem;
      border: 1px solid #EEEEEE;
      color: #999; }

/*# sourceMappingURL=index7.css.map */
