* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

header {
  background: white;
  display: flex; }
  header ul {
    display: flex;
    width: 3.75rem;
    height: 0.51rem; }
    header ul li {
      margin-top: 0.08rem;
      margin-left: 0.09rem; }
      header ul li img {
        width: 1.07rem;
        height: 0.36rem; }
      header ul li p {
        font-size: 0.11rem; }
    header ul li:nth-child(2) {
      margin-left: 0.235rem;
      line-height: 0.45rem; }
      header ul li:nth-child(2) span {
        font-size: 0.18rem;
        color: #000; }
    header ul li:nth-child(3) {
      margin-left: 0.84rem;
      text-align: center; }
    header ul li:nth-child(4) {
      margin-left: 0.150rem;
      text-align: center; }
  header .icon-user {
    font-size: 0.165rem;
    color: #999999; }
  header .icon-nav {
    font-size: 0.165rem;
    color: #999999; }

.bann {
  width: 3.75rem; }
  .bann ul li {
    width: 100%; }
    .bann ul li img {
      width: 100%; }

.web1 {
  border-bottom: 1px solid #d7d7d7;
  height: 0.4rem; }
  .web1 ul:nth-child(1) li {
    margin-top: 0.18rem;
    text-align: center; }
    .web1 ul:nth-child(1) li span {
      font-size: 0.18rem;
      color: #000; }
  .web1 ul:nth-child(2) li {
    position: absolute;
    left: 1.7rem;
    top: 2.55rem;
    z-index: 120;
    width: 0.375rem;
    height: 0.125rem;
    background: white; }
    .web1 ul:nth-child(2) li img {
      width: 100%;
      height: 0.125rem; }

.wenban {
  width: 3.75rem; }
  .wenban ul {
    margin-top: 0.18rem;
    margin-bottom: 0.18rem; }
    .wenban ul li {
      margin-left: 0.11rem;
      margin-right: 0.11rem;
      text-indent: 0.3rem; }
      .wenban ul li span {
        font-size: 0.14rem;
        color: #333; }

.banns {
  border-bottom: 1px solid #d7d7d7;
  height: 0.4rem;
  background: #F4F4F4; }
  .banns ul:nth-child(1) {
    background: #F4F4F4; }
    .banns ul:nth-child(1) li {
      margin-top: 0.18rem;
      text-align: center; }
      .banns ul:nth-child(1) li span {
        font-size: 0.18rem;
        color: #000; }
  .banns ul:nth-child(2) {
    background: #F4F4F4; }
    .banns ul:nth-child(2) li {
      position: absolute;
      left: 1.7rem;
      top: 4.99rem;
      z-index: 120;
      width: 0.375rem;
      height: 0.125rem;
      background: white; }
      .banns ul:nth-child(2) li img {
        width: 100%;
        height: 0.125rem; }

.ann ul li {
  width: 100%; }
  .ann ul li img {
    width: 100%; }

.bq div {
  width: 100%;
  text-align: center; }
  .bq div span {
    width: 100%;
    text-align: center;
    font-size: 0.14rem;
    text-indent: 2rem; }
  .bq div a {
    font-size: 0.015rem;
    color: #38C993; }
.bq ul {
  width: 100%;
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-around; }
  .bq ul li {
    font-size: 0.14rem; }
  .bq ul li:nth-child(1) {
    color: #38C993; }

.x {
  width: 100%;
  height: 0.09rem;
  background: #F4F4F4;
  margin-top: 0.2rem;
  margin-bottom: 0.16rem; }

/*# sourceMappingURL=index17.css.map */
